h1{
    color : blue
}

.header{
    background-color : blue; 
    display : flex;
    justify-content : space-between;
}

.grid{
    flex-wrap : wrap; 
    display : flex;
    justify-content : space-evenly;
}

.footer{
    display : flex;
    justify-content : flex-end;
}

p,h2{
    text-align : center
}

